* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cairo", sans-serif !important;
}

.nav-top {
    background-color: #000;
}

.nav-top a,
.nav-top i {
    color: #fff;
}

.nav-top a {
    font-size: 14px;
    font-weight: 400;
}

.jumbotron {
    height: 93vh;
    background: url("https://images.unsplash.com/photo-1532074565847-ae9c3c0bfbf2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

section.login,
section.register {
    height: 93vh;
    background: url("https://images.pexels.com/photos/10205899/pexels-photo-10205899.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: relative;
}

.card-login {
    position: absolute;
    top: 100px;
    left: 100%;
}

.card-register {
    position: absolute;
    top: 100px;
    left: 47%;
}

.text-jumbotron {
    margin-top: 150px;
}

.heading {
    margin-top: 50px;
    text-align: center;
}

.hr-heading {
    width: 125px;
    margin: auto;
    height: 1px;
    background-color: #007bff;
    margin-bottom: 30px;
}

/*category */

.card-image-top {
    position: relative;
}

.cat-text {
    padding: 10px;
    background-color: #fff;
    color: #000;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 0;
    opacity: 50%;
}

.cat-text h2,
.heading h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
}

/*product*/

.prod {
    /* cursor: pointer; */
    margin: 10px 0;
    height: 350px;
}

.btn-prod-custom {
    padding: 8px 24px;
    background-color: #ccc;
    color: #000;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}

.btn-prod {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.text-product a {
    text-decoration: none;
    color: #000;
}

/*footer*/

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

footer ul {
    list-style: none;
}

footer li {
    margin: 10px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer i {
    margin-right: 15px;
}
